<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="traviewAppConnectionString" connectionString="Data Source=CHO-COMPUTER;Initial Catalog=traviewApp;Persist Security Info=True;User ID=Traview_manager;Password=pass"
      providerName="System.Data.SqlClient" />
    <add name="traviewAppConnectionString2" connectionString="Data Source=CHO-COMPUTER;Initial Catalog=traviewApp;Persist Security Info=True;User ID=Traview_manager;Password=pass"
      providerName="System.Data.SqlClient" />
    <add name="traviewAppConnectionString3" connectionString="Data Source=CHO-COMPUTER;Initial Catalog=traviewApp;Persist Security Info=True;User ID=Traview_manager;Password=pass"
      providerName="System.Data.SqlClient" />
    <add name="traviewAppConnectionString4" connectionString="Data Source=CHO-COMPUTER;Initial Catalog=traviewApp;Persist Security Info=True;User ID=Traview_manager;Password=pass"
      providerName="System.Data.SqlClient" />
    <add name="traviewAppConnectionString5" connectionString="Data Source=CHO-COMPUTER;Initial Catalog=traviewApp;Persist Security Info=True;User ID=Traview_manager;Password=pass"
      providerName="System.Data.SqlClient" />
    <add name="traviewAppConnectionString6" connectionString="Data Source=DESKTOP-RDV2VLE\SQLEXPRESS;Initial Catalog=traviewApp;Persist Security Info=True;User ID=Traview_manager;Password=pass"
      providerName="System.Data.SqlClient" />
    <add name="traviewAppConnectionString7" connectionString="Data Source=CHO-COMPUTER;Initial Catalog=traviewApp;Persist Security Info=True;User ID=Traview_manager;Password=pass"
      providerName="System.Data.SqlClient" />
    <add name="traviewAppConnectionString8" connectionString="Data Source=DESKTOP-E8R2CA3\SQLEXPRESS;Initial Catalog=traviewApp;Persist Security Info=True;User ID=Traview_manager;Password=pass"
      providerName="System.Data.SqlClient" />
    <add name="traviewAppConnectionString9" connectionString="Data Source=DESKTOP-E8R2CA3\SQLEXPRESS;Initial Catalog=traviewApp;Persist Security Info=True;User ID=Traview_manager;Password=pass"
      providerName="System.Data.SqlClient" />
    <add name="traviewAppConnectionString10" connectionString="Data Source=CHO-COMPUTER;Initial Catalog=traviewApp;Persist Security Info=True;User ID=Traview_manager;Password=pass"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime targetFramework="4.0" maxRequestLength="10240000" />
      <pages validateRequest="false" />
  </system.web>
</configuration>